{% extends "view/viewbase.html" %}
{%load static%}
{%block viewhome%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/trangchu.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
    main .card{
        box-shadow: 4px 5px 8px 2px rgb(128 128 128 / 11%);
        border-radius:0px;
    }
    .card:hover{
        box-shadow: 6px 5px 8px 4px rgb(95 91 91 / 36%);
    }
    .title{
        background: #313131;
        width: max-content;
        color: white;
        padding: 10px;
        font-weight: 600;
        margin-left: 12px;
    }
    .product-desc {
        padding: 0px;
        position: relative;
    }
    .product-name {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        display: block;
        margin: 2px 0 5px 0;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:2; /* Giới hạn 3 dòng */
        -webkit-box-orient: vertical;
    }
    .block-button{
        display:flex;
        padding:0px !important;
    }
    .block-button button{
        margin-right:-10px;
    }
    button.btn{
        padding:0;
        margin-right: 10px;
    }
    .line{
        height: 2px;
        background: #313131;
        padding: 0px -41px 20px 12px;
        width: 854px;
        margin: 0px 12px 20px 12px;
    }
    .tags>button{
        width: 393px;
        margin-left: 8px;
        margin-bottom: 15px;
        height: 37px;
    }
</style>
<main>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row d-flex flex-wrap">
                    <div class="title">CÔNG THỨC</div>
                    <div class="line"></div>
                    {% for recipe in recipes %}
                        <div class="col-12">
                            <div class="card" style="height: 300px;margin-bottom: 25px;">
                                <div class="row g-0">
                                    {% if recipe.images.first %}
                                    <div class="product col-md-5" style="height: 300px;">
                                        <img style="width:100%;height:100%; object-fit: cover;" src="{{ recipe.images.first.image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    <div class="product-desc col-md">
                                        <div class="card-body">
                                            <a href="{% url 'detail' recipe.id %}" class="product-name">{{ recipe.title }}</a>
                                            <div style="    margin-bottom: -20px;">
                                                <small style="float: left;" class="text-muted"></small>
                                                {% for category in recipe.classify.all %}
                                                     <small class="text-muted" style="background: var(--green);color: black !important;padding: 5px;">{{ category.name }}</small>
                                                {% endfor %}
                                            </div>
                                            <br>
                                            <small class="text-muted">
                                                <img style="width:15px;height:15px; margin-bottom:4px; " src="{% static 'img/user.png' %}" alt="">
                                                <b style="color:var(--blue);">
                                                    {% if recipe.author.userprofile %}
                                                     {{ recipe.author.userprofile.user.last_name }} {{ recipe.author.userprofile.user.first_name }}
                                                {% else %}
                                                    {{ recipe.author.username }}
                                                {% endif %}

                                                </b>
                                            </small>
                                            <br>
                                            <small class="text-muted"><img style="width:15px;height:15px; margin-bottom:4px;" src="{% static 'img/calendar.png' %}" alt=""> {{recipe.images.first.uploaded_at|date:"d/m/Y"}}</small>
                                            <br>
                                            <small class="text-muted"><img style="width:15px;height:15px; margin-bottom:4px;" src="{% static 'img/eye.png' %}" alt=""> {{ recipe.views }} lượt xem</small>
                                            <br>
                                            <small class="text-muted"><img style="width:17px;height:17px; margin-bottom:4px;" src="{% static 'img/heart.png' %}" alt=""> {{ recipe.total_likes }} yêu thích</small>
                                            <div class="m-t text-right block-button" style="padding-top: 30px;padding-left: 1%;">
                                                <form method="post" action="{% url 'like_recipe' recipe.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn {% if user in recipe.liked_tym.all %}btn-danger{% else %}btn-primary{% endif %}" style="padding-top: 7px;border: none;background:none;">
                                                        {% if user in recipe.liked_tym.all %}<img style="width:24px;" src="{% static 'img/heartttt.png' %}" alt="">{% else %}<img style="width:24px;" src="{% static 'img/like.png' %}" alt="">{% endif %}
                                                    </button>
                                                </form>
                                                <form method="post" action="{% url 'report_food' recipe.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-outline-danger" style="padding-top: 7px;border: none">
                                                        <img style="width:23px; margin-bottom: 2px;" src="{% static 'img/report.png' %}" alt="">
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="d-flex flex-column"><a href="{% url 'detail' recipe.id %}" class="btn btn-outline-success" style="font-size: 10pt;width:100px;margin-top:5px;">Xem chi tiết</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4">
                <div class="row d-flex flex-wrap">
                    <div class="title">DANH MỤC</div>
                    <div class="line" style="width: 392px;"></div>
                    <div class="tags row">
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'vegetarian' %}'" >Món Chay</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'grill' %}'" >Món Nướng</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'asian' %}'">Món Châu Á</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'snacks' %}'">Món Ăn Vặt</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'dessert' %}'">Món Tráng Miện</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'appetizer' %}'">Khai Vị</button>
                        <button type="button" class="btn btn-outline-success"onclick="window.location.href='{% url 'european' %}'">Món Âu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock viewhome%}