{% extends "user/base_user.html" %}
{%load static%}
{%block search_user%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<main>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link " aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Trang chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'postfood' %}" class="nav-link">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Thêm bài viết
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'notifications' %}" class="nav-link">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Thông báo
                                {% if unread_notifications_count > 0 %}
                                    <span class="badge badge-danger">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'myfood' %}" class="nav-link">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Quản lý bài viết
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'savefood' %}" class="nav-link">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Bài viết đã lưu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_user' %}" class="nav-link active">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Người dùng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
                {% comment %} Tìm Kiếm {% endcomment %}
                <form class="d-flex" method="POST" action="{% url 'search_user' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm người dùng....." name="searched" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
                </form>

                <a style="margin-left:20px" class="navbar-brand user_name" href="{%url 'page_user'%}"> {{user.last_name}} {{user.first_name}}
                {% if user_profile.profile_image %}
                    <img src="{{ user_profile.profile_image.url }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'img/user.png' %}" alt="Default Profile Image">
                {% endif %}</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                
                <!--  -->
                <div class="row d-flex flex-wrap">
                    {% for user in users %}
                        <div class="col-md-4">
                            <div class="ibox" style="padding-top: 20px;">
                                <div class="ibox-content product-box">
                                    <small class="text-muted">Tên: <b>
                                        <a class="navbar-brand user_name" href="{% url 'detail_user' user.id %}"> 
                                        {{ user.last_name }} {{ user.first_name }}</b></small>
                                    <div>
                                        <small class="text-muted">Email: {{ user.email }}</small>
                                    </div>
                                    {% if user.id in following %}
                                        <div class="follow-btn" style="margin-top: 10px;">
                                            <form method="post" action="{% url 'unfollow_user' user.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Unfollow</button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div class="follow-btn" style="margin-top: 10px;">
                                            <form method="post" action="{% url 'follow_user' user.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary">Follow</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                

                <!--  -->
            </div>
        </div>
    </div>
</main>

{% endblock search_user%}